<div class="panel panel-default"  ng-init="getTweets()" >
    <div class="panel-heading">
        <h3 class="panel-title">{{user.name}}  {{user.surname}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-6">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSMUYqHJiCLMqfPVyFGXE5eg1jnKcDVM1_rrqGXffF7OYyUfjfr">
            <p>{{user.name}}</p>
            <a>{{user.surname}}</a>
        </div>
        <div class="col-md-6" >
            <div class="form-group">
                <label for="comment">Tweet:</label>
                <input type="text" class="form-control" rows="5" id="comment">
            </div>
            <div class="row" ng-repeat="tweet in tweets">
                        <p> {{tweet.tweet_text}}</p>
                        <a>{{tweet.created_date}}</a>
                </div>
            </div>
        </div>
    </div>
</div>